body {
    background-color: rgba(235, 237, 240, 0.98);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    min-height: 100vh; /* Altura mínima para cubrir la pantalla */
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

img {
    width: 175px;
    height: 175px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #0e4e4c;
    display: flex;
    flex-direction: grid;
    align-items: right;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left; /* Ajusta el texto a la izquierda */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #0e4e4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #065151;
}

h1 {
    font-size: 24px;
    color: #333;
    top: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: top;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
