<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ichiel Software Venture</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class = "body">
    <div class = "top-img">
        <img src="{% static 'components/logo2.png' %}">
    </div>
    <div class = "top-txt">
        <h1>Comencemos!</h1>
        <h2>Inicia sesión o registrate</h2>
    </div>
    <div class = "index-form">
        <form action="" method="post" id="loginForm">
        {% csrf_token %}
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <p><label for="username">Username</label></p>
        <input type="text" id="username" name="username" required>
        <p><label for="password">Password</label></p>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Iniciar Sesión</button>
        <p style="color:blue;">No tienes una cuenta?</p>
        <a href="{% url 'register' %}">Registrarse</a>
        </form>
    </div>  
</body>
</html>
