<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- DJANGO STATIC -->
    {% load static %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Ichiel Software Venture</title>
</head>
<!-- MAIN CONTAINERS -->
<div class = "index-top">
    <div class = "logo-img">
        <img src="{% static 'components/logo2.png' %}">
    </div>
    <div class = "titles-txt">
        <h1>Bienvenido {{ user.username }}!</h1>
    </div>
</div>
<div class="dashboard">
    <form action="{% url 'home' %}" method="post">
        <button type="submit">
            Inicio
            <img src="{% static 'components/home.png' %}" alt="Inicio" class="home-icon">
        </button>
        {% csrf_token %}
    </form>
    <form action="{% url 'profile' %}" method="post">
        <button type="submit">
            Perfil
            <img src="{% static 'components/profile.png' %}" alt="Perfil" class="profile-icon">
        </button>
        {% csrf_token %}
    </form>
    <form action="{% url 'logout' %}" method="post">
        <button type="submit">
            Cerrar sesión
            <img src="{% static 'components/logout.png' %}" alt="Cerrar sesión" class="logout-icon">
        </button>
        {% csrf_token %}
    </form>
</div>
<!-- BODY CONTAINERS-->
<body>
    <div class="profile-info">
        <div class="info-txt">
            <h1>Perfil de {{ user.username }}</h1>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Nombre:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            <p><strong>Fecha de nacimiento:</strong> {{ profile.birthdate }}</p>
            <p><strong>País:</strong> {{ profile.country }}</p>
            <p><strong>Ciudad:</strong> {{ profile.city }}</p>
            <p><strong>Dirección:</strong> {{ profile.address }}</p>
            <p><strong>Teléfono:</strong> {{ profile.phone_number }}</p>
        </div>
        <div class="profile-options">
            <a href="{% url 'update_profile' %}">
                <button type="submit">Actualizar perfil</button>
            </a>
        </div>
    </div>
</body>
</html>