<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- DJANGO STATIC -->
    {% load static %}
    {% load crispy_forms_tags %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Ichiel Software Venture</title>
</head>
<div class = "index-top">
    <div class = "logo-img">
        <img src="{% static 'components/logo2.png' %}">
    </div>
    <div class = "titles-txt">
        <h1>ICL Software Venture</h1>
    </div>
</div>
<body class = "body">
    <!-- MESSAGES -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- REGISTER FORM -->
    <form action="{% url 'register' %}" method="post" class="register-form">     
                        <h2>Registro</h2>
                        
                            {% csrf_token %}

                            {{ form|crispy }}

                            <button type="submit" class="btn btn-primary w-100 mt-3">
                                Registrarse
                            </button>
   </form>
    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer>
    <div class="footer">
        <p>Ichiel Software Venture © 2024. Todos los derechos reservados</p>
        <div class="social-links">
            <a href="https://github.com/matimorcos" target="_blank">
                <img src="{% static 'components/github.png' %}" alt="GitHub" style="width: 40px; height: 40px;">
            </a>
            <a href="https://www.linkedin.com/in/matias-morcos-mm" target="_blank">
                <img src="{% static 'components/linkedin.png' %}" alt="LinkedIn" style="width: 40px; height: 40px;">
            </a>
        </div>
    </div>
</footer>
</html>
